doctype html
html
 head
  title Subject Summary
  link(rel='stylesheet', href='/stylesheets/style.css')  
 body
  h1 Subject Summary 
  form(action="/updateSubject/#{id}" method='POST')
   p Name: 
    input(name="subject_name" value='#{name}') 
   p Max Score:
    input(name="max_score" value='#{maxScore}')
   p Grade:
    select(name="grade")
     each grade in allGrades
      option(value='#{grade.id}') #{grade.name}
     
   input(type="submit" value="submit") 
