html
 head
  title ADD STUDENT
 body
  form(action="/addStudent/#{grade_id}" method="POST")
   p Name:
    input(type ="text" name="name")
   div
     table(border="4")
      tr
       th Subject
       th Max
       th Score
      each subject in subjects
       tr
        td
         a(href="/subjects/#{subject.id}") #{subject.name}
        td #{subject.maxScore}
        td 
         input(name="score_#{subject.id}" type="number" value ="#{subject.score}" min="0" max="#{subject.maxScore}")
   p 
   input(type="submit" value ="Add")